*{
  margin: 0;
  padding: 0;
}

body{
  /* background-color: #f7f7f7; */
  background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(62,150,87,1) 95%);
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  height: 800px;
  align-items: center;
  margin-top: 5rem;
  align-self: center;
  
  
}
.arrow-right{
  position: relative;
  left: 51rem;
  height: 2rem;
  top: -2rem;
  align-items: center;
  justify-content: center;
  color: #75b9bf;
  z-index: 2;
  font-size: 2rem;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color:whitesmoke ;
  border: none;
  border-radius: 50%;
  user-select: none;
}
.arrow-left{
  position: relative;
  left: 30rem;
  height: 2rem;
  top: -2rem;
  align-items: center;
  justify-content: center;
  color: #75b9bf;
  z-index: 1;
  font-size: 2rem;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color:whitesmoke ;
  border: none;
  border-radius: 50%;
  user-select: none;
}
.holder{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100rem;
}